* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 500px;
    max-width: 350px;
    text-align: center;
}
.container-2{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.icon-container {
    margin-bottom: 40px;
    margin-top: 40px;
}
.icon-container-2{
    margin: 20px 0px;

}
h1 {
    color: #82E0AA;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 40px;
    position: relative;
}
.form-group-2 {
    margin-bottom: 30px;
    position: relative;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    width: calc(100% - 20px); /* Ajusta para não sobrepor o ícone */
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #ccc;
    border-right: 0px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease; /* Animação suave */
}

input::placeholder {
    color: #cacccf;
}

/* Efeito hover no input */
input:hover {
    border-bottom: 2px solid #82E0AA; /* Borda mais escura */
    transform: scale(1.05); /* Aumenta o tamanho */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #82E0AA;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #75D09A;
}

/* Ícones dentro do input */
label i {
    margin-right: 10px;
    size: 30px;
}

/* Estilo para o link de registro */
.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #82E0AA;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido fora da tela */
    width: 250px;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-in-out; /* Transição suave para a esquerda */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #555;
    transition: background-color 0.3s;
}

/* Quando o menu estiver ativo, mova-o para a direita */
nav.active {
    left: 0;
}

main {
    padding-top: 70px; /* Espaço para não cobrir o conteúdo pelo menu */
    text-align: center;
}

section {
    padding: 60px 20px;
}

section:nth-child(odd) {
    background-color: #f4f4f4;
}

section:nth-child(even) {
    background-color: #e2e2e2;
}
#Cadastro{
    color: #75D09A;
    margin: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}
#Login{
    color: #75D09A;
    margin: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}